@import url(https://fonts.googleapis.com/css?family=Neuton:200,400,700|Roboto+Mono:400,300|Julius+Sans+One|Quattrocento:400|Quattrocento+Sans:400,700|Merriweather:300,300i,400i);
/*Solve the problem of "How to prevent horizontal scrolling on responsive webpage?"*/
body {
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/*Solution Ends*/

/* See Case Study Button */
.btn {
  font-family: 'Quattrocento';
  background-color: rgba(245, 245, 245, 0.35);
  border-color: rgba(245, 245, 245, 0);
  border-radius: 0;
}

.btn:hover {
  background-color: rgba(245, 245, 245,0.01);
  border: 1px solid rgb(245, 245, 245);
  border-radius: 0;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:0 0 0 0px rgba(255, 255, 255, 0);
    color: #f3f3f3;
}

.btn-black {
background-color: rgba(245, 245, 245, 0.35);
border: 1px solid #000;
}

.btn-black:hover, .btn-primary:focus {
border: 1px solid #000;
color: #000;
}

/* footer */

footer {
  margin: 0 auto;
}

.contact {
  height: 160px;
  top: 93vh;
  right: 2em;
  position: fixed;
  font-size: 14px;
  color: black;
  z-index: 10;
}

.contact>a {
  display: block;
}

@media screen and (max-width: 768px) {
/* hamburger-menu */
  .hamburger-menu {
    display: block;
  }
  .menu-logo {
    display: none;
  }
  nav.menu-nav-hz {
    right: 0px;
    display: none;
  }
  li.menu-hz-li {
    display: block;
    text-align: right;
    padding: 3px 0px;
  }

  p {
    font-size: 14px;
  }

  .contact {
    right: 10px;
  }
}

/*About Me*/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.row {
	 margin: 0 auto;
	 width: auto;
   margin-right: -15px;
   margin-left: -15px;
}


.row:after {
  clear: both;
}

/* article */

article {
	 margin: 2em auto;
	 text-align: left;
}

blockquote {
	 font-size: 26px;
	 line-height: 37px;
	 margin-bottom: 25px;
}

.content1 {
	 font-size: 19px;
	 line-height: 50px;
	 margin: 0;
	 font-family: "Quattrocento Sans";
	 font-weight: 700;
	 font-style: normal;
}

h1 {
	 font-size: 68px;
	 line-height: 75px;
	 margin: 0px 0px 0.37em 0px;
	 font-weight: 400;
	 font-style: normal;
	 font-family: "Quattrocento Sans";
}

h2 {
	 font-size: 42px;
	 line-height: 50px;
	 margin: 0 0 1em 0;
	 font-family: "Quattrocento Sans";
	 font-weight: 400;
	 font-style: normal;
}

h3 {
	 font-size: 28px;
	 line-height: 50px;
	 margin: 2em 0 0 0;
	 font-family: "Quattrocento Sans";
	 font-weight: 400;
	 font-style: normal;
}

h4 {
	 font-size: 20px;
	 line-height: 30px;
	 margin: 0px 0px 0.5em 0px;
	 font-family: "Quattrocento Sans";
	 font-weight: 400;
	 font-style: normal;
}

h5 {
     font-style: italic;
	 color: #21272d;
	 margin: 2em 0px;
	 font-family: "Merriweather";
	 font-weight: 400;
	 font-size: 14px;
     margin-top: 1em;
     margin-bottom: 2em;
     line-height: 2em;
}

h6 {
    font-size: 42px;
    line-height: 50px;
    margin: 0px 0px 0.5em 0px;
    font-family: "Quattrocento Sans";
    font-weight: 400;
    font-style: normal;
}

p {
	 margin: 2em 0px;
	 font-family: "Merriweather";
	 font-weight: 300;
	 font-style: normal;
	 font-size: 18px;
	 line-height: 36px;
}

p.intro {
	 font-size: 20px;
	 line-height: 30px;
	 margin: 0px 0px 1.5em 0px;
	 font-family: "Merriweather";
	 font-weight: 300;
	 font-style: normal;
}

p.label {
	 margin: 3em 0% 3em 0%;
	 border-style: solid;
	 border-color: rgba(51, 51, 51, 0.87);
	 text-align: center;
	 padding: 25px 3% 25px 3%;
	 font-size: 28px;
	 color: rgba(51, 51, 51, 1);
	 border-width: 3px 0px;
	 font-family: "Quattrocento Sans";
	 font-weight: 400;
	 font-style: normal;
}

blockquote.pull-quote {
	 margin: 0em 1em 1em 0em;
	 border-left: 3px solid #ccc;
	 padding: 0em 0em 0em 0.7em;
     font-family: "Merriwheather";
}

blockquote.pull-quote-noline {
	 margin: 0em 1em 1em 0em;
	 padding: 0em 0em 0em 0.7em;
     border-left-style: none;
}

p.quote {
	 font-size: 0.8em;
	 line-height: 1.6em;
	 font-style: italic;
	 color: #666666;
	 margin: 0px;
	 font-family: "Merriweather";
	 font-weight: 300;
}

p.HMW {
	 margin: 0px;
}

.icon {
    max-height: 24px;
    max-width: 24px;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

p.author-byline {
	 text-align: center;
	 font-size: 16px;
	 line-height: 20px;
	 margin: 0px 0px 1.5em 0px;
}

em.emphasis {
	 font-style: italic;
}

small.small {
	 font-size: 80%;
}

strong.strong {
	 font-weight: 700;
}

b {
    font-weight: 700;
    /*font-style: italic;*/
}

p.intro-paragraph {
	 text-align: center;
	 font-size: 27px;
	 line-height: 39px;
	 margin-bottom: 1.2em;
	 margin-top: 1.2em;
	 padding: 1em 1em 1em 1em;
	 border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
	 border-color: rgba(204, 204, 204, 1);
	 font-family: "Merriweather";
	 font-weight: 300;
	 font-style: italic;
}

img {
    position: relative;
    z-index: 1;
}
img.wide {
	 max-width: 100%;
	 width: 453px;
}

img.standard {
	 max-width: 100%;
	 width: 289px;
}

img.square {
	 max-width: 100%;
	 width: 192px;
}

img.browser-screenshot {
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.12), inset 0 1px 0 rgba(255,255,255,0.8);
    border-radius: 10px;
    z-index: 2;
    position: relative;
    margin: 0 0 2em;
}

img.mobile-screenshot {
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.12), inset 0 1px 0 rgba(255,255,255,0.8);
    z-index: 2;
    position: relative;
    width: 375px;
}

img.center {
    display: block;
    margin: 0 auto;
}

div.testimonial {
	 margin: 0 auto 1em auto;
	 width: auto;
	 text-align: center;
}

img.testimonial-avatar {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 max-width: 100%;
	 width: 150px;
	 border-radius: 50%;
     /*margin: 4em 0 1em;*/
}
img.avatar-bottom {
    margin: 0 0 3em;
    width:80px;
}
img.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/*Annotation*/

.browser-annotations li {
    /*background: rgba(46,160,238,0.95);*/
    background: rgba(255,127,126,0.95);
    color: #fff;
    padding: 15px;
    line-height: 1.4;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
    position: absolute;
    width: 280px;
    z-index: 10;
    counter-increment: step-counter;
    font-size: 14px;
    line-height: 1.6em;
    font-style: italic;
}

.browser-annotations li:before {
    background: rgba(255,127,126,0.90);
}

.browser-annotations .blue{
    background: rgba(46,160,238,0.95);
}

.browser-annotations .blue:before{
    background: rgba(46,160,238,0.95);
}

.browser-annotations .orange{
    background: rgba(242,152,81,0.95);
}

.browser-annotations .orange:before{
    background: rgba(242,152,81,0.95);
}

.annotation-title {
    font-style: normal;
    margin-bottom: 0.5em;
}

.browser-annotations li:before {
    content: counter(step-counter);
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 1.3em;
    background: rgba(255,127,126,0.95);
    box-shadow: 0 5px 15px 2px rgba(0,0,0,0.15);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    text-indent: 0px;
}

.none:before {
    visibility: hidden;
}

.browser-annotations li.annotation-left:before {
     top: 50%;
    left: -75px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.browser-annotations li.annotation-top:before {
    left: 50%;
    top: -75px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*Annotation End*/

h4.testimonial-name {
	 font-size: 1.1em;
	 text-align: center;
	 margin: 0 0 4px 0;
}

p.testimonial-title {
	 font-style: italic;
	 margin: 0 0 1em 0em;
	 text-align: center;
	 font-size: 1em;
}

div.testimonial-content {
	 margin: 0 auto 1em auto;
	 text-align: center;
	 padding: 0.5em;
	 background-color: #ffffff;
	 border-width: 1px;
	 border-style: solid;
	 border-color: rgba(204, 204, 204, 1);
}

p.testimonial-text {
	 text-align: center;
	 color: #666;
}

p.testimonial-text:last-child {
	 margin-bottom: 0;
}

p.image-labels {
	 margin: 1.5em 0px 1.563em 0px;
	 text-align: left;
}

ul {
	 margin: 10px 20px;
	 padding: 10px 20px;
}

ol {
	 margin: 10px 20px;
	 padding: 10px 20px;
}

nav.menu-nav {
	 margin: 0 auto;
}

ul.menu {
	 margin: 0 0 1em 0;
	 font-size: 16px;
	 list-style: none;
}

ul.menu-nested {
	 margin: 0 0 0em 2em;
	 font-size: 16px;
	 color: #ccc;
	 list-style: none;
}

nav.menu-nav-hz {
    top: 1em;
    right: 1em;
   float: right;
   position: fixed;
	 margin: 0 auto;
   z-index: 10;
}

ul.menu-hz {
	 margin: 0 0 1em 0;
	 list-style: none;
	 text-align: center;
     padding: 1em;
}

li.menu-hz-li {
	 margin: 0 0.5em 0 0.5em;
	 font-size: 16px;
	 display: inline-block;
}

li.menu-hz-li:last-child {
margin-right: 0;
}

span.dropcap {
	 float: left;
	 color: #333333;
	 font-size: 89px;
	 line-height: 60px;
	 padding: 8px 12px 0px 3px;
}

div.image-media:before {
	 content: "";
	 display: table;
}

div.image-media:after {
	 content: "";
	 display: table;
	 clear: both;
}

div.image-media {
	 width: auto;
	 text-align: left;
	 margin: 0 auto;
}

img.image-media-left {
	 max-width: 100%;
	 float: left;
	 width: 150px;
	 margin: 0 1em 1em 0;
}

img.testimonial-center {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 max-width: 100%;
	 width: 120px;
	 border-radius: 50%;
	 display: block;
	 margin: 0 auto 10px auto;
}

div.three-col-gallery:before {
	 content: "";
	 display: table;
}

div.three-col-gallery:after {
	 content: "";
	 display: table;
	 clear: both;
}

div.three-col-gallery {
	 width: auto;
	 text-align: center;
	 margin: 0 auto;
}

img.three-col-img {
	 width: 30%;
	 float: left;
	 margin: 1.666%;
}

img {
	 max-width: 100%;
}

p.caption {
	 margin: 0.5em 0px 3em 0px;
	 font-size: 15px;
	 line-height: 23.89px;
	 text-align: center;
	 color: rgba(158, 158, 158, 1);
}

.section {
display: flex;
align-items: center;
max-height: 100vh;
}

section.slice {
	 text-align: center;
	 margin: 0;
	 padding: 3%;
	 width: auto;
}

section.slice:before {
	 content: "";
	 display: table;
}

section.slice:after {
	 content: "";
	 display: table;
	 clear: both;
}

g {
	 font-family: Quattrocento;
	 font-weight: 400;
	 font-style: normal;
}

li {
	 font-family: "Merriweather";
	 font-weight: 300;
	 font-style: normal;
	 margin: 1em 0px;
	 font-size: 18px;
	 line-height: 36px;
}

.menu {
	 font-family: "Julius Sans One";
	 font-weight: 400;
	 font-style: normal;
	 font-size: 14px;
	 line-height: 15px;
}

/* footer */

.readnext {
  text-align: center;
  background-color: #666;
  color: #fff;
  padding: 15% 0;
  margin-top: 60px;
  z-index: 1;
  position: relative;
}

#readnext-ai{
   background: url("https://images.unsplash.com/photo-1477244075012-5cc28286e465?dpr=2&auto=format&fit=crop&w=767&h=1151&q=80&cs=tinysrgb&crop=") no-repeat center;
}

#readnext-ng{
   background: url("https://images.unsplash.com/photo-1473229903343-d7903343f6c0?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=") no-repeat center fixed;
}

#readnext-tb{
   background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), black url("https://images.unsplash.com/photo-1494707924465-e1426acb48cb?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center fixed;
   color: #000;
}

#readnext-sunban{
   background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("https://images.unsplash.com/photo-1472586662442-3eec04b9dbda?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=") no-repeat center;
}

#readnext-mindfulness{
   background: url("https://images.unsplash.com/photo-1480471305927-c526773089f8?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=") no-repeat center;
}

.readnext>h3 {
    font-family: 'Quattrocento';
    font-size: 31.5px;
}

.readnext>h4 {
    font-family: 'Quattrocento';
}
.readnext > h6 {
    font-family: 'Quattrocento';
}
/* Gallery */
#collage {
    background-color: #f6f6f6;
}
#collage img{
    padding-bottom: 1em;
}
@media screen and (min-width: 992px) {
  #collage {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      -webkit-column-width: 50%;
      -moz-column-width: 50%;
      column-width: 50%;
  }

  .browser-annotations {
      visibility: visible;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #collage {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      -webkit-column-width: 50%;
      -moz-column-width: 50%;
      column-width: 50%;
  }

  .browser-annotations {
      visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  #collage {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
  }

  .browser-annotations {
      visibility: hidden;
  }
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/*Sample Project*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Merriweather:300|Quattrocento+Sans|Neuton:200,400,700|Roboto+Mono:400,300|Quattrocento:400');

body {
	 font-size: 17px;
	 min-height: 100%;
	 font-family: "Helvetica Neue eText Pro";
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

article.container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
	 margin: 0 auto;
	 width: auto;
   margin-right: -15px;
   margin-left: -15px;
}

.row-annotation {
    padding: 0 45px;
}


.row:after {
  clear: both;
}

/* navigation bar */
nav.menu-nav-hz {
   top: 1em;
   right: 1em;
   position: fixed;
	 margin: 0 auto;
   z-index: 10;
}

.menu-logo {
   top: 16px;
   left: 32px;
   position: fixed;
   font-family: "Quattrocento";
   font-size: 24px;
   line-height: 36px;
   z-index: 10;
}

.menu-logo > a:hover{
text-decoration: none;
color: #000000;
}

.menu-hz-li > a:focus{
text-decoration: none;
color: #000000;
}

ul.menu-hz {
	 margin: 0 0 1em 0;
	 list-style: none;
	 text-align: center;
}

li.menu-hz-li {
	 margin: 0 0.5em 0 0.5em;
	 font-size: 16px;
	 display: inline-block;
   font-family: "Julius Sans One";
   font-size: 14px;
	 line-height: 15px;
}

li {
	 font-family: "Merriweather";
	 font-weight: 300;
	 font-style: normal;
	 margin: 10px 0px;
	 font-size: 18px;
	 line-height: 36px;
}

a {
	 font-weight: 400;
	 font-style: normal;
   color: #000000;
   text-decoration: none;
}

.link, .link:hover, .link:focus {
	 font-weight: 400;
	 font-style: normal;
   color: #000000;
   border-bottom: 1px solid #000;
   text-decoration: none;
}

.current {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.menu-hz-li > a:hover{
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}


.hamburger-menu {
  margin: 8px 8px;
  right: 2px;
  position: fixed;
  display: none;
  z-index: 10;
}

.hamburger-menu span {
  display: block;
  width: 16px;
  height: 1px;
  background: rgb(0,40,60);
  transition: .7s;
  pointer-events: none;
}
span:nth-child(2) {
  margin: 4px 0;
}

/*playground menu*/
.playground-menu {
    color: #f3f3f3;
}

a.menu.playground-menu:hover{
    color: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

li.playground-menu{
    border-bottom: 1px solid #f3f3f3;
}

nav.menu-logo.playground-menu> a:hover{
text-decoration: none;
color: #f3f3f3;
}

/*hamburger-menu*/
@media screen and (max-width: 768px) {
/* hamburger-menu */
.hamburger-menu {
display: block;
}

.menu-logo {
display: none;
}
nav.menu-nav-hz {
right: 0px;
display: none;
}
li.menu-hz-li {
display: block;
text-align: right;
padding: 3px 0px;
}

.contact {
right: 10px;
}

li.current.playground-menu{
    border-bottom: 1px solid #f3f3f3;
}
/*responsive font*/
h1 {
	 font-size: 51px;
	 line-height: 56px;
}

h2 {
	 font-size: 31.5px;
	 line-height: 37.5px;
}

h3 {
	 font-size: 21px;
	 line-height: 37.5px;
}

h4 {
	 font-size: 15px;
	 line-height: 23px;
}

p {
	 font-size: 14px;
	 line-height: 28px;
}

p.intro {
    font-size: 15px;
    line-height: 22px;
}

p.label {
	 font-size: 14px;
}

p.quote {
    font-size: 0.6em;
    line-height: 1.4em;
}
li {
    font-size: 14px;
    line-height: 27px;
}
}

@media screen and (min-width: 768px) {
    .menu-nav-hz {
        display: block;
    }
}

.logo {
    top: 2em;
    left: 2em;
    position: fixed;
    z-index: 10;
}

.logo>a>img {
    width: 20%;
}

.video-container {
    padding-bottom: 120px;
    padding-top: 20px;
}

/*Responsive Video*/

.videoWrapper {
	position: relative;
	padding-bottom: 57.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*background image*/
#hmw1-1{
    padding-left: 0;
    padding-right: 0;
    background: url(../images/siri/hmw1-1.png);
    background-size: cover;
    height: 920px;
}

/*noselect*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*loader*/

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) 50% 50% no-repeat rgb(249,249,249);
}

/*preloader*/

.bg-preloader-div{
    width:0;
    height:0;
    display:none;
}

#preloader-ai {
    background: url("../images/ai/new-overview-page-hover.png"), url("../images/ai/training-guide-with-work-area-hover.png");
}

#preloader-ng {
    background: url("../images/nutritious-grocer/ng-search_recipe-hover.jpg"), url("../images/nutritious-grocer/ng-individual_recipe-hover.jpg"), url("../images/nutritious-grocer/ng-pantry-hover.jpg"), url("../images/nutritious-grocer/ng-pantry-item-hover.jpg"), url("../images/nutritious-grocer/ng-cart-hover.jpg");
}

/*abstract spacing*/
.abstract {
    margin-top: 0;
}

.abstract>h2 {
    margin-bottom: 0.5em;
}

.abstract>p {
    margin: 0 0 1em;
}

.abstract>ul {
    margin: 0 20px;
    padding: 0 20px;
}

.abstract>content1 {
    margin: 2em 0 0 0;
}

/*ng-image-refine*/
.image-margin-refine-bottom {
    margin-bottom:0;
}

.image-margin-refine-top {
    margin-top:0;
}

/*carousel*/
.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}
